<h2>Contact Us</h2>

<h3>The Real Estate Pvt. Ltd.</h3>
<p>
  Mail: contact@realestate.com <br>
  Tel: +254 9286095063 <br>
  Web: www.realestate.com <br>
  HQ: Biazna Plaza,218-Murgo drive. <br>
  Nairobi,Kenya <br>
</p>

{{#link-to 'about'}}About Us{{/link-to}}
